{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'mobile/img/favicon.ico' %}">

    <title>Sell | buy mobiles</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mobile/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'mobile/css/jumbotron.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'mobile/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Dubimobi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form role="form" action="/mobile/search" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="search" name="q" id="query" class="form-control" placeholder="Search" />
            </div>
              <input type="submit" name="commit" value="Search" class="btn btn-success" />
                             <!--<a class="btn btn-danger navbar-btn navbar-right" href="#">Sell</a> -->
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>Dubimobi is a marketplace for used and brand new mobiles. Individuals can list their used mobile phone for free. Business users who want to sell new or/and used mobiles, please contact us for creating a free account for 3 months</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% block content %}
    {% if  latest_mobile_list %}
    
      {% for mobile in latest_mobile_list %}
        <div class="col-md-4">
          <h2>{{ mobile.name }}</h2>
          <img src="{{mobile.photo.url}}" alt="Mobile image" height="300" width="300"/>
          <h1>{{ mobile.price }}</h1>
          <p>Description </p>
          <p><a class="btn btn-default" href="{% url 'mobile:detail' mobile.id %}" role="button">View details &raquo;</a></p>
        </div>
      {% endfor %}
    {% else %}
      <p> No Mobiles are available </p>
    {% endif %}
  {% endblock %}
      </div>

      <hr>

      <footer>
        <p>&copy; Dubimobi 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'mobile/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'mobile/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
