{% extends 'mobile/base.html' %}
	{% block content %}
		{% if search_result_data %}
		
 			{% for mobile in search_result_data %}
 				<div class="col-md-4">
 					<h2>{{ mobile.name }}</h2>
 					<img src="{{mobile.photo.url}}" alt="Mobile image" height="300" width="300"/>
 					<h1>{{ mobile.price }}</h1>
 					<p>Description </p>
 					<p><a class="btn btn-default" href="{% url 'mobile:detail' mobile.id %}" role="button">View details &raquo;</a></p>
 				</div>
 			{% endfor %}
 		{% else %}
 			<p> No Mobiles are available </p>
 		{% endif %}
 	{% endblock %}
