{% extends 'mobile/base.html' %}
{% block content %}
{% if search_result_data %}
  {% for mobile in search_result_data %}
  <div cass="col-md-4">
          <h2>{{ mobile.name }}</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="{% url 'mobile:detail' mobile.id %}" role="button">View details &raquo;</a></p>
        </div>
  {% endfor %}
{% else %}
<p> No Mobiles are available </p>
{% endif %}
{% endblock %}
